# Python Fundamentals

### Print, Variable and Datatypes

In [ ]:
# PRINTING OUTPUT
print("Hello, World!")  # Display text on the screen

#### Variables

What Are Variables in Python?
â€¢	A variable is a container for storing data.
â€¢	In Python, variables do not need explicit declaration; they are created when a value is assigned.
ðŸ”¹ Example: Assigning Values to Variables

In [ ]:
# VARIABLES AND DATA TYPES
name = "Aliceqqq"  # String (Text)
age = 25  # Integer (Whole number)
height = 5.6  # Float (Decimal number)
is_student = True  # Boolean (True or False)

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

#### Data Types

In [ ]:
# TYPE CHECKING
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

Data Types:
o	Numeric: int, float, complex
o	Boolean: True, False
o	String: str, String operations
o	**List, Tuple, Set, Dictionary` (Data structures)
Type Conversion (int(), str(), float())

In [ ]:
# TYPE CONVERSION (Casting)
age_str = str(age)  # Convert integer to string
height_int = int(height)  # Convert float to integer
is_student_str = str(is_student)  # Convert boolean to string

print("Converted Age:", age_str, type(age_str))
print("Converted Height:", height_int, type(height_int))
print("Converted Boolean:", is_student_str, type(is_student_str))

*Hands-on: Convert Celsius to Fahrenheit using Python*

#### Input in Python

The input() function is used to take user input.

In [ ]:
user_name = input("Enter your name: ")
print("Hello,", user_name)

Note: input() always returns a string. Convert it to another type if needed:

In [ ]:
age = int(input("Enter your age: "))  # Convert input to integer
print("Your age is:", age)

## Operators in Python

#### Arithmetic Operators

In [ ]:
a = 10
b = 3

print(a + b)  # Addition
print(a - b)  # Subtraction
print(a * b)  # Multiplication
print(a / b)  # Division
print(a // b) # Floor division
print(a % b)  # Modulus
print(a ** b) # Exponentiation

#### Comparison Operators

In [ ]:
x = 5
y = 10

print(x == y)
print(x != y)
print(x > y)
print(x < y)

#### Logical Operators

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

## Conditional Statements (if, elif, else)

Conditional statements control the flow of a Python program by executing different code blocks based on conditions.

Types of Conditional Statements in Python

if statement â€“ Executes a block of code if a condition is True.

if-else statement â€“ Executes one block if True, otherwise another block.

if-elif-else statement â€“ Used when there are multiple conditions.

Nested if statements â€“ An if inside another if.

In [ ]:
# if Statement
# The if statement checks a condition and executes code only if the condition is True.

age = 20

if age >= 18:
    print("You are an adult.")

In [ ]:
age = int(input("Enter your age: "))

In [ ]:
# if-else Statement
# The if-else statement allows execution of an alternative block if the condition is False.

num = int(input("Enter a number: "))

In [ ]:
# if-elif-else Statement
# The if-elif-else statement allows checking multiple conditions.

marks = int(input("Enter your marks: "))

In [ ]:
# Nested if Statements
# A nested if means one if statement inside another.

age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")

    citizenship = input("Are you a citizen? (yes/no): ").lower()
    if citizenship == "yes":
        print("You can vote in national elections!")
    else:
        print("Only citizens can vote in national elections.")
else:
    print("You are not eligible to vote yet.")

#### Short-Hand if and if-else (Ternary Operator)

In [ ]:
# Python allows a one-line if or if-else.
# One-Line if

x = 10

In [ ]:
# One-Line if-else (Ternary Operator)

age = 20

#### Logical Operators in if Statements

In [ ]:
# Using and

age = 25
income = 5000

In [ ]:
# Using or

age = 16
has_permission = True

In [ ]:
# Using not

is_raining = False

#### Checking Membership in if Statements

In [ ]:
# Using in Operator

fruits = ["Apple", "Banana", "Cherry"]

In [ ]:
# Using not in Operator

banned_users = ["user1", "user2", "user3"]

username = input("Enter your username: ")

#### Real-World Conditional Statement Challenges

In [ ]:
# Finding the Largest of Three Numbers

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

In [ ]:
# Checking Leap Year
# A leap year is:
# Divisible by 4
# Not divisible by 100, unless also divisible by 400.

year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

In [ ]:
# Simple ATM Transaction

balance = 1000

withdraw = int(input("Enter amount to withdraw: "))

In [ ]:
# Password Authentication

correct_password = "Python123"

password = input("Enter your password: ")

## Loops and Iterations

Loops repeat a block of code multiple times.

#### For Loop

for loop is used to iterate over sequences like lists, tuples, strings, and ranges.

In [ ]:
# for Loop

for i in range(5):  # Loops from 0 to 4
    print("Iteration:", i)

In [ ]:
# Loop Through a List

fruits = ["Apple", "Banana", "Cherry"]

for fruit in fruits:
    print(fruit)

In [ ]:
# Loop Through a String (Character by Character)

word = "Python"

for letter in word:
    print(letter)

In [ ]:
# Using range() in a Loop

for i in range(5):  # Loops from 0 to 4
    print(i)

In [ ]:
# Loop From 1 to 10

for i in range(1, 11):
    print(i)

In [ ]:
# Loop With Step (Skipping Numbers)

for i in range(0, 20, 2):  # Start=0, Stop=20, Step=2
    print(i)

In [ ]:
# Nested Loops

for i in range(1, 6):  # Outer loop
    for j in range(1, 6):  # Inner loop
        print(i * j, end="\t")  # Print multiplication table
    print()  # New line after each row

In [ ]:
# Printing Patterns Using Nested Loops

rows = 5

for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")  # Print stars
    print()  # New line

In [ ]:
# Exercise: Find the Sum of First n Natural Numbers

n = int(input("Enter a number: "))
total = 0

for i in range(1, n + 1):
    total += i

print("Sum of first", n, "natural numbers is:", total)

In [ ]:
# Exercise: Find Odd and Even Numbers in a Range

n = int(input("Enter a range: "))

print("Even numbers:")


print("\nOdd numbers:")

In [ ]:
# Check If a Number is Prime

num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is NOT a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is NOT a prime number")

#### While Loop

while loop runs until a condition becomes False.

In [ ]:
# while Loop

count = 0
while count < 5:
    print("Count:", count)
    count += 1

In [ ]:
# while Loop With User Input

password = ""

while password != "1234":
    password = input("Enter the correct password: ")

print("Access granted!")

In [ ]:
# Reverse a Number Using while Loop

num = int(input("Enter a number: "))
reverse = 0

while num > 0:
    digit = num % 10  # Get the last digit
    reverse = reverse * 10 + digit
    num = num // 10  # Remove last digit

print("Reversed Number:", reverse)

## Break and Continue

break stops the loop.

continue skips the current iteration.

In [ ]:
# break

for i in range(5):
    if i == 3:
        break
    print(i)

In [ ]:
# continue

for i in range(5):
    if i == 3:
        continue
    print(i)

## Odd vs. Even

In [ ]:
# Check If a Number is Odd or Even

num = int(input("Enter a number: "))

## Largest Number

In [ ]:
# Find the Largest Among Three Numbers

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

largest = max(a, b, c)  # Using max() function
print("Largest number is:", largest)

 Alternative Without max() Function

In [ ]:
if a > b and a > c:

## Prime Numbers

A prime number is a number greater than 1 that has only two factors: 1 and itself.

In [ ]:
# Check If a Number is Prime

num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is NOT a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is NOT a prime number")

In [ ]:
# Print All Prime Numbers in a Range

lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for num in range(lower, upper + 1):

# Python In-built Data Structures

### Strings in Python

A string is a sequence of characters enclosed in quotes.

In [ ]:
# Creating Strings

# Using single, double, or triple quotes
string1 = 'Hello'
string2 = "Python"
string3 = '''Multiline
String'''

print(string1)
print(string2)
print(string3)

In [ ]:
# Accessing String Characters

text = "Python"
print(text[0])   # (First character)
print(text[-1])  # (Last character)
print(text[:3])  # (Substring)

String Functions: Python provides many built-in string methods.

In [ ]:
# Common String Functions

text = " Hello World! "

print(text.lower())      # Output: " hello world! "
print(text.upper())      # Output: " HELLO WORLD! "
print(text.strip())      # Output: "Hello World!" (Removes spaces)
print(text.replace("World", "Python"))  # Output: " Hello Python! "
print(text.split())      # Output: ['Hello', 'World!']
print(len(text))         # Output: 14 (String length)

#### Palindrome Strings

A palindrome is a string that reads the same forward and backward.

In [ ]:
# Check if a String is a Palindrome

def is_palindrome(string):
    return string == string[::-1]

word = input("Enter a word: ")
if is_palindrome(word):
    print(word, "is a palindrome!")
else:
    print(word, "is NOT a palindrome.")

In [ ]:
# Count Vowels in a String

def count_vowels(string):

    

text = input("Enter a string: ")
print("Number of vowels:", count_vowels(text))

### Types of Data Structures in Python
Python has built-in and user-defined data structures.

#### 1) List

Ordered, mutable (modifiable), allows duplicates.	

Ordered collection of items

In [ ]:
list_example1 = list((1, 22, 110, 65))
print(list_example1)

In [ ]:
list_example2 = list(("car", "rainbow", "magnet"))
print(list_example2)

In [ ]:
list_example3 = ["happy", "angry", "sad"]
print(list_example3)

In [ ]:
# Creating a list of different data types
my_list = ["Apple", 42, 3.14, True]

print(my_list)
print(type(my_list))

In [ ]:
empty_list = []  # Empty list
print(empty_list)  # Output: []

Accessing Elements in a List

In [ ]:
fruits = ["Apple", "Banana", "Cherry"]
print("Fruits:", fruits)
print("First Fruit:", fruits[0])  # Access first item

In [ ]:
fruits

In [ ]:
fruits[1]

In [ ]:
fruits[2]

Slicing a List

In [ ]:
numbers = [10, 20, 30, 40, 50]

print(numbers[1:4]) # (Slicing from index 1 to 3)
print(numbers[:3])  # (First three elements)
print(numbers[2:])  # (From index 2 to end)

Modifying Lists (Lists Are Mutable)

In [ ]:
colors = ["Red", "Green", "Blue"]
colors[1] = "Yellow"  # Changing "Green" to "Yellow"
print(colors)

Adding Elements to a List

In [ ]:
# Using append()
fruits = ["Apple", "Banana"]
fruits.append("Cherry")  # Adds "Cherry" at the end
print(fruits)

In [ ]:
# Using insert() (Add at Specific Index)
fruits.insert(1, "Mango")  # Adds "Mango" at index 1
print(fruits)

In [ ]:
# Using extend() (Merging Two Lists)
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)  # Adds elements of list2 to list1
print(list1)

Removing Elements from a List

In [ ]:
# Using remove()
fruits = ["Apple", "Banana", "Cherry"]
fruits.remove("Banana")
print(fruits)

In [ ]:
# Using pop() (Remove by Index)
fruits = ["Apple", "Banana", "Cherry"]
fruits.pop(1)  # Removes item at index 1 ("Banana")
print(fruits)

In [ ]:
# Using clear() (Remove All Elements)
fruits = ["Apple", "Banana", "Cherry"]
fruits.clear()  # Clears all items
print(fruits)

Checking Membership in a List: Using in Operator

In [ ]:
fruits = ["Apple", "Banana", "Cherry"]

print("Apple" in fruits)
print("Grapes" in fruits)

Looping Through a List

In [ ]:
# Using a for Loop
animals = ["Cat", "Dog", "Elephant"]

In [ ]:
# Using a while Loop
numbers = [10, 20, 30, 40]
i = 0

Sorting and Reversing Lists

In [ ]:
numbers = [5, 2, 8, 1, 3]
numbers.sort()  # Sorts in ascending order
print(numbers)

 Sorting in Descending Order

In [ ]:
numbers.sort(reverse=True)
print(numbers)

Reversing a List

In [ ]:
numbers = [105, 20, 50]
numbers.reverse()
print(numbers)

Finding Length, Minimum, and Maximum

In [ ]:
numbers = [5, 10, 15, 20]

print(len(numbers))
print(min(numbers))
print(max(numbers))

Creating a List Using List Comprehension: List comprehension provides a shorter way to create lists.

In [ ]:
# Generate a list of squares from 1 to 5
squares = 
print(squares)

In [ ]:
# List Comprehension

numbers = 
squares = 

print(numbers)
print(squares)

Second Largest Element in a List

In [ ]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))  # Remove duplicates
    unique_numbers.sort(reverse=True)  # Sort in descending order
    return unique_numbers[1] if len(unique_numbers) > 1 else None

nums = [10, 20, 30, 40, 50]
print("Second largest:", second_largest(nums))

Removing Duplicates from a List

In [ ]:
def remove_duplicates(lst):

    
nums = [1, 2, 3, 4, 2, 3, 5]
print("List without duplicates:", remove_duplicates(nums))

#### 2) Tuple

Ordered, immutable (cannot be modified), allows duplicates.	

Immutable lists

Unlike lists, tuples are immutable, meaning their values cannot be changed after creation.

store multiple items in a single variable.

In [ ]:
# Creating a tuple with different data types
my_tuple = ("Apple", 42, 3.14, True)

print(my_tuple) 
print(type(my_tuple))

In [ ]:
single_element_tuple = ("Python",)  # Must include a comma
print(type(single_element_tuple))  

not_a_tuple = ("Python")  # This is a string, NOT a tuple
print(type(not_a_tuple)) 

## Note: A tuple with one element must have a trailing comma (,) to be recognized as a tuple.

In [ ]:
coordinates = (10.5, 20.3)
print("Coordinates:", coordinates)

Accessing Tuple Elements

In [ ]:
fruits = ("Apple", "Banana", "Cherry")

print(fruits[0])  
print(fruits[-1])

In [ ]:
numbers = (10, 20, 30, 40, 50)

print(numbers[1:4])
print(numbers[:3])  
print(numbers[2:])

Tuple Immutability (Cannot be Modified)

In [ ]:
colors = ("Red", "Green", "Blue")

colors[0] = "Yellow"

Convert the tuple to a list, modify it, and convert it back to a tuple.

In [ ]:
colors = ("Red", "Green", "Blue")

# Convert tuple to list
colors_list = list(colors)
colors_list[0] = "Yellow"

# Convert list back to tuple
colors = tuple(colors_list)
print(colors)

Looping Through a Tuple

In [ ]:
# Using a for Loop
animals = ("Cat", "Dog", "Elephant")

Tuple Operations:  Concatenation & Repetition

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenation (Joining Two Tuples)
result = 
print(result)

In [ ]:
# Repetition
repeated_tuple = tuple1 * 3
print(repeated_tuple)

Checking Membership in a Tuple: Using in Operator

In [ ]:
cities = ("New York", "London", "Paris")

print("London" in cities)
print("Tokyo" in cities)

Finding Length, Minimum, Maximum, and Counting Elements

In [ ]:
numbers = (5, 10, 15, 10, 20)

print(len(numbers))
print(min(numbers))
print(max(numbers))
print(numbers.count(10))
print(numbers.index(15))

Unpacking Tuples: assigning multiple values from a tuple to variables.

In [ ]:
person = ("Alice", 25, "Engineer")

name, age, profession = person

print(name)
print(age)
print(profession)

# The number of variables must match the number of elements in the tuple.

Nested Tuples: Tuples can contain other tuples.

In [ ]:
nested_tuple = ((1, 2, 3), ("A", "B", "C"))

Converting Between Lists and Tuples

In [ ]:
# Convert tuple to list
tuple_data = (10, 20, 30)

In [ ]:
# Convert list to tuple
new_tuple =

#### When to Use Tuples Instead of Lists?
When you donâ€™t want data to be modified (e.g., constants).

When working with dictionary keys (Tuples can be dictionary keys, lists cannot).

When memory efficiency and performance are important.

Example: Tuple as Dictionary Key

In [ ]:
# Using tuples as keys in a dictionary
locations = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles"
}

print(locations[(40.7128, -74.0060)])

#### 3) Set

Unordered, mutable, does not allow duplicates

contains only unique elements

Sets are defined using curly brackets {} or the set() function.

In [ ]:
# Creating a set with unique values

my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

In [ ]:
empty_set = set()  # Correct way to create an empty set
print(type(empty_set))

wrong_set = {}  # This creates an empty dictionary, not a set
print(type(wrong_set))

#### Properties of Sets

Unordered â†’ The elements have no fixed position.

Unique Elements Only â†’ Duplicates are automatically removed.

Mutable â†’ You can add or remove elements.

In [ ]:
# Duplicates Are Automatically Removed

numbers = {1, 2, 2, 3, 4, 4, 5}
print(numbers)  # (Duplicates are removed)

Adding Elements to a Set

In [ ]:
# Using add()

fruits = {"Apple", "Banana"}
fruits.add("Cherry")  # Adds "Cherry" to the set
print(fruits)

In [ ]:
# Using update() (Adding Multiple Elements)

fruits = {"Apple", "Banana"}
fruits.update(["Cherry", "Mango", "Orange"])  # Adds multiple items
print(fruits)

Removing Elements from a Set

In [ ]:
# Using remove()

colors = {"Red", "Green", "Blue"}
colors.remove("Green")  # Removes "Green"
print(colors)

Note: If the element is not found, remove() will cause an error.

In [ ]:
colors.remove("Black") 
print(colors)

In [ ]:
# Using discard() (No Error if Element Not Found)

colors = {"Red", "Green", "Blue"}
colors.discard("Yellow")  # No error even if "Yellow" is not in the set
print(colors)

In [ ]:
# Using pop() (Removes a Random Element)
numbers = {10, 20, 30, 40}
numbers.pop()  # Removes a random element
print(numbers)

In [ ]:
# Using clear() (Remove All Elements)

numbers = {1, 2, 3, 4}
numbers.clear()  # Removes all elements
print(numbers)

Checking Membership in a Set: Using in Operator

In [ ]:
fruits = {"Apple", "Banana", "Cherry"}
print("Banana" in fruits)
print("Grapes" in fruits)

#### Set Operations (Union, Intersection, Difference)

Sets support mathematical set operations, which are useful in data manipulation.

#### Union (| or union())

Combines all elements from both sets (removing duplicates).

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

#### Intersection (& or intersection())

Finds common elements between two sets.

#### Difference (- or difference())

Finds elements present in one set but not in the other.

In [ ]:
print(set1 - set2)  # (Elements in set1 but not in set2)
print(set1.difference(set2))

#### Symmetric Difference (^ or symmetric_difference())

Finds elements that are in either set but NOT in both.

In [ ]:
print(set1 ^ set2) 
print(set1.symmetric_difference(set2))

Finding Length, Minimum, Maximum

In [ ]:
numbers = {10, 20, 30, 40, 50}

print(len(numbers))
print(min(numbers))
print(max(numbers))

Looping Through a Set

In [ ]:
# Using a for Loop

languages = {"Python", "Java", "C++"}

for lang in languages:
    print(lang)

Converting Between Lists, Tuples, and Sets

In [ ]:
# Convert List to Set

numbers_list = [1, 2, 2, 3, 4, 4, 5]
numbers_set = set(numbers_list)
print(numbers_set)  #(Duplicates removed)

In [ ]:
# Convert Set to List

numbers = {1, 2, 3, 4}
numbers_list = list(numbers)
print(numbers_list)

In [ ]:
# Convert Set to Tuple

numbers = {10, 20, 30}
numbers_tuple = tuple(numbers)
print(numbers_tuple)

#### 4) Dictionary
Key-value pairs, unordered (Python 3.6+ maintains order).

stores data as key-value pairs.

Dictionaries are unordered, mutable, and allow fast lookups.

Dictionaries are defined using curly braces {} with keys and values separated by colons (:).

In [ ]:
# Creating a dictionary with key-value pairs

student = {
    "name": "Alice",
    "age": 25,
    "grade": "A"
}

print(student)
print(type(student))

In [ ]:
# Creating an Empty Dictionary

empty_dict = {}  # Empty dictionary
print(empty_dict)

another_dict = dict()  # Using dict() constructor
print(another_dict)

Accessing Dictionary Values

Dictionary values are accessed using keys.

In [ ]:
# Accessing Values Using Keys

student = {"name": "Alice", "age": 25, "grade": "A"}

print(student["name"])
print(student["age"])

Using student["city"] would cause an error if the key "city" does not exist.

In [ ]:
# Using get() Method (Avoids Errors)

print(student.get("grade"))
print(student.get("city", "Not Found"))

Modifying a Dictionary

Dictionaries are mutable, meaning you can change values.

In [ ]:
# Updating a Value

student["age"] = 26  # Changing age
print(student)

In [ ]:
# Adding a New Key-Value Pair

student["city"] = "New York"  # Adding new key-value pair
print(student)

Removing Elements from a Dictionary

In [ ]:
# Using pop() (Removes a Specific Key)

student.pop("grade")
print(student)

In [ ]:
# Using del Keyword

del student["city"]  # Deletes "city" key
print(student)

In [ ]:
# Using clear() (Removes All Elements)

student.clear()
print(student)

Checking for Keys in a Dictionary

In [ ]:
# Using in Operator

student = {"name": "Alice", "age": 25, "grade": "A"}

print("age" in student)
print("city" in student)

Looping Through a Dictionary

In [ ]:
# Looping Through Keys

for key in student:
    print(key)

In [ ]:
# Looping Through Values

for value in student.values():
    print(value)

In [ ]:
# Looping Through Key-Value Pairs

for key, value in student.items():
    print(key, ":", value)

Dictionary Methods

In [ ]:
# Using keys(), values(), items()

print(student.keys())
print(student.values())
print(student.items())

In [ ]:
# Using update() (Merging Dictionaries)

student.update({"city": "New York", "age": 26})
print(student)

Nested Dictionaries

A dictionary can contain other dictionaries as values.

In [ ]:
students = {
    "Alice": {"age": 25, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

print(students["Alice"]["grade"])

Dictionary Comprehension

Like list comprehension, you can use dictionary comprehension.

In [ ]:
# Creating a Dictionary with Comprehension

squares = {x: x*x for x in range(1, 6)}
print(squares)

Converting Between Dictionaries and Lists

In [ ]:
# Convert Dictionary Keys/Values to List

student = {"name": "Alice", "age": 25, "grade": "A"}

keys_list = list(student.keys())
values_list = list(student.values())

print(keys_list)
print(values_list)

In [ ]:
# Convert List of Tuples to Dictionary

data = [("name", "Alice"), ("age", 25), ("grade", "A")]
student_dict = dict(data)
print(student_dict)

Reverse a Dictionary

In [ ]:
# Swapping Keys and Values

def reverse_dict(d):
    return {v: k for k, v in d.items()}

original_dict = {"Alice": 25, "Bob": 30, "Charlie": 35}
reversed_dict = reverse_dict(original_dict)

print(reversed_dict)

## Python Functions

#### Function Introduction

A function is a block of reusable code that performs a specific task. Functions help in code modularity, reusability, and organization.

ðŸ”¹ Why Use Functions?

Avoid Repetition â€“ Write once, use multiple times.

Improves Readability â€“ Code is more structured and easier to understand.

Easier Debugging â€“ Isolate problems within functions.

Encapsulation â€“ Group logic into small, manageable parts.

In [ ]:
# Syntax of a Function

def function_name(parameters):
    """Function Docstring (Optional)"""
    # Code block
    return value  # (Optional)

Parameters are variables inside function definitions.

Arguments are values passed to functions.

In [ ]:
# Defining and Calling a Function

# Defining a function
def greet():
    print("Hello, welcome to Python functions!")

# Calling the function
greet()

In [ ]:
# Function with Parameters

def greet(name):
    print("Hello,", name)

greet("Alice")
greet("Bob")

In [ ]:
# Function with Multiple Parameters

def add(a, b):

result = add(10, 5)
print("Sum:", result)

In [ ]:
def square(n):

print(square(4))

In [ ]:
# Returning Multiple Values

def calculate(a, b):

    
    return sum_val, diff  # Returning multiple values

s, d = calculate(10, 5)
print("Sum:", s)
print("Difference:", d)

### Types of Function Arguments

1ï¸âƒ£ Positional Arguments: Arguments are passed in order.

In [ ]:
def person(name, age):
    print(name, "is", age, "years old")

person("Alice", 25) # Correct
person(25, "Alice") # Incorrect order

2ï¸âƒ£ Keyword Arguments: Arguments are passed with variable names, ignoring order.

In [ ]:
def person(name, age):
    print(name, "is", age, "years old")

person(age=30, name="Bob")  # Correct order is not required

3ï¸âƒ£ Default Arguments

Default arguments are used when no value is passed.

If an argument is provided, it overrides the default value.

In [ ]:
# Function with Default Arguments

def greet(name="Guest"):
    print("Hello,", name)

greet()
greet("Alice")

In [ ]:
# Multiple Default Arguments

def order(item="Coffee", size="Medium"):
    print(f"Order: {size} {item}")

order()
order("Tea", "Large")
order(size="Small")

4ï¸âƒ£ Arbitrary Arguments (*args): Used when number of arguments is unknown.

*args allows passing a variable number of arguments.

In [ ]:
# Using *args for Variable Arguments

def add_numbers(*args):

    

add_numbers(1, 2, 3)
add_numbers(5, 10, 15, 20)

5ï¸âƒ£ Arbitrary Keyword Arguments (**kwargs): Used when passing multiple key-value arguments.

**kwargs allows passing keyword arguments (key-value pairs).

In [ ]:
# Using **kwargs for Keyword Arguments

def person_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

person_info(name="Alice", age=25, city="New York")

In [ ]:
# Using *args and **kwargs Together

def full_info(*args, **kwargs):
    print("Arguments:", args)
    print("Keyword Arguments:", kwargs)

full_info(1, 2, 3, name="Alice", age=30)

### Built-in Functions in Python

Python provides many built-in functions: predefined functions.

In [ ]:
# abs(), round(), pow()

print(abs(-10))
print(round(3.567, 2))
print(pow(2, 3))

In [ ]:
# map() Function
# The map() function applies a function to all elements in an iterable.

numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

In [ ]:
# filter() Function
# The filter() function filters elements based on a condition.

numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

#### Lambda Functions

A lambda function is an anonymous function defined with the lambda keyword.

One-line function.

No def keyword needed.

In [ ]:
square = lambda x: x * x
print(square(5))

In [ ]:
# Lambda Function with map()

numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

In [ ]:
# Lambda Function with filter()

numbers = [10, 25, 30, 47, 50]
div_by_5 = list(filter(lambda x: x % 5 == 0, numbers))
print(div_by_5)

#### Recursive Functions

A recursive function calls itself until a base condition is met.

In [ ]:
# Factorial Using Recursion

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

In [ ]:
# Fibonacci Series Using Recursion

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

for i in range(7):
    print(fibonacci(i), end=" ")

#### Nested Functions

A function defined inside another function.

In [ ]:
def outer():
    print("Outer function")

    def inner():
        print("Inner function")

    inner()

outer()

### More Function Examples

#### Function to Check Even or Odd|

In [ ]:
def check_even_odd(num):


print(check_even_odd(10))
print(check_even_odd(7))

#### Function to Find Maximum of Three Numbers

In [ ]:
def max_of_three(a, b, c):
    return max(a, b, c)

print("Largest:", max_of_three(10, 25, 15))

In [ ]:
#  Alternative Without max() Function

def max_of_three(a, b, c):
    if a > b and a > c:
        return a
    elif b > a and b > c:
        return b
    else:
        return c

print("Largest:", max_of_three(10, 25, 15))

#### Function to Calculate the Factorial

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print("Factorial:", factorial(5))

#### Function to Check if a Number is Prime

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(7))
print(is_prime(10))

#### Function to Count Vowels in a String

In [ ]:
def count_vowels(string):


print(count_vowels("Hello World"))

#### Function to Remove Duplicates from a List

In [ ]:
def remove_duplicates(lst):

print(remove_duplicates([1, 2, 3, 4, 2, 3, 5]))  # Output: [1, 2, 3, 4, 5]

#### Function to Count the Number of Words in a Sentence

In [ ]:
def count_words(sentence):
    return len(sentence.split())

print(count_words("Python is a powerful language"))

#### Function to Generate Random Password

In [ ]:
import random
import string

def generate_password(length=8):
    characters = string.ascii_letters + string.digits + string.punctuation
    return ''.join(random.choice(characters) for i in range(length))

print(generate_password(12))  # Output: Random 12-character password